
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2 class="display-4">Pos Page</h2>
</div>


<div class="table-responsive">
    <table id="user" data-dt="true" class="display" style="width:100%" data-dataset="weatherData">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>email</th>
                <th>age</th>
                <th>country</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <table id="example" data-dt="true" class="display" style="width:100%" data-dataset="userData">
        <thead>
            <tr>
                <th>City</th>
                <th>Temperature</th>
                <th>Condition</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

