
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2 class="display-4">Pos Page</h2>
</div>


<div class="table-responsive">
    
    <table id="usersTable" class="display stripe cell-border" style="width:100%" data-table="usersTable"></table>
    
</div>