<div class="sidebar-top navbar ps-3 navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="Home" data-spa>BlazorApp1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="Home" Match="NavLinkMatch.All" data-spa>
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
        </div>

        <div class="nav-item px-3 drop">
            <a class="nav-link">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Positions
            </a>
        </div>
        <div class="dropdown-container nav-link px-3">
            <a class="nav-link" href="Pos" data-spa>Pos</a>
            <a class="nav-link" href="#" data-spa>Link 2</a>
            <a class="nav-link" href="#" data-spa>Link 3</a>
        </div>

        <div class="nav-item px-3 drop">
            <a class="nav-link">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </a>
        </div>
        <div class="dropdown-container nav-link px-3">
            <a class="nav-link" href="#" data-spa>Link 1</a>
            <a class="nav-link" href="#" data-spa>Link 2</a>
            <a class="nav-link" href="#" data-spa>Link 3</a>
        </div>

        <div class="nav-item px-3 drop">
            <a class="nav-link">Dropdown</a>
        </div>
        <div class="dropdown-container nav-link px-3">
            <a class="nav-link" href="#">Link 1</a>
            <a class="nav-link" href="#">Link 2</a>
            <a class="nav-link" href="#">Link 3</a>
        </div>
    </nav>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        var drop = document.getElementsByClassName("dropdown-container");
        var i;
        for (i = 0; i < drop.length; i++) {
            drop[i].style.display = "none";
        }
    });
    var dropdown = document.getElementsByClassName("drop");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>